@CHARSET "UTF-8";
body{
	background-image: url(../../image/liar/explainGame.jpg);
}

.twitter {
	width: 100px;
	height: 100px
}

@media screen and (max-width:767px) {
  .buttonArea {
	height:100px;
	}
	.buttonDefault {
	height:50px;
	}
	.space{
	 height:130px;
	 width:5px;
	}
	.ui-dialog {
	width: inherit!important;
	}
	.fontWhite{
		color: white;
		font-size: 14px;
		font-weight: 200;
	}

	.font{
		font-size: 14px;
		font-weight: 200;
	}
	.paddingRight {
		padding-right:inherit!important;
		text-align: right;
	}
	.paddingLeft {
		padding-right:inherit!important;
		text-align: left;
	}
	.gameTitleFont {
		font-size: 30px;
		/* color: white; */
		position: relative;
		font-weight: 700;
	}
	.twitter {
		width: 50px;
		height: 50px;
	}
}
}